@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');

body,html{
	cursor: default;
	font-family: arial;
	background: url("../img/tapiz.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

a, a:visited{
	text-decoration: none;
}

/*BARRA NAVEGACIÓN*/

.navbar li a, .navbar  {
	color: #a5a5af !important;
	font-size: 22px;
}

.navbar-nav #cargar-menu:hover, .navbar-nav #inicio:hover{
	background-color: #a5a5af;
	color: #f8f8f8 !important;
}

#logo-nav{
	font-weight: bold;
	color: #b7b7be;
}

button.navbar-toggle{
	background-color: #a5a5af;
}

/*CABECERA*/

.jumbotron{
	background: url("../img/cabecera.jpg") no-repeat center;
	background-size: 100% 100%;
	border-radius: 5px;
}

.jumbotron .container h1{
	font-weight: bold;
	-webkit-text-fill-color: #015249;
	-webkit-text-stroke: 2px #1bbfc1;
}

.jumbotron .container h3{
	font-weight: bold;
	-webkit-text-fill-color: #1bbfc1;
	-webkit-text-stroke: 1px #015249;
}

/*NOTICIAS*/

.well{
	background-color: #e7ecf0 !important;
	border-radius: 35px !important;
}

.well h2{
	color: #0f6768;
	font-weight: bold;
}

.well div p, .well .text-info{
	color: #19a4a6;
}

.well a :hover{
	box-shadow: 10px 10px 5px #888888;
	background-color: #a5a5af;
	-webkit-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
	-webkit-transition: box-shadow 500ms linear;
	-ms-transition: box-shadow 500ms linear;
	transition: box-shadow 500ms linear;
}

.well a :hover{
	text-decoration: none;
}

.row img{
	display:block;
	margin:auto;
}

/*NOTICIA*/

#noticia-pag>h1, #noticia-pag>h3{
	color: #0f6768;
	font-weight: bold;
}

#noticia-pag>p, #noticia-pag .text-info{
	color: #19a4a6;
}

#noticia-pag>blockquote{
	color: #19a4a6;
	font-weight: bold;
	font-size: 15px;
}

/*CARGAR*/

#cargarBoton>button{
	color: #e7ecf0 !important;
	font-size: 22px;
	background-color: #a5a5af;
	font-weight: bold;
	margin: 1%;
	border-radius: 50px;
}

#cargarBoton>button:hover{
	background-color: #e7ecf0;
	color:#a5a5af !important;
}

/*UPLOAD*/

#subir a{
	margin-bottom: 1%;
	font-weight: bold;
	font-size: 1.5vw;
	background-color: #e7ecf0;
	color:#a5a5af;
}

#subir a:hover {
    background-color: #a5a5af;
	color:#e7ecf0;
}

/*PIE*/

#pie{
	background-color: #015249;
	border-radius: 5px;
	font-family: "Carrois Gothic SC";
	color: #1bbfc1;
	font-size: 11px;
}

.red {
	height: 30px;
	margin-left:5px;
	margin-right:5px;
	cursor: pointer;
}

#redes{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*DESKTOP*/

@media screen and (min-width: 769px){

.navbar-brand img{
	margin-top: -10px;
	max-width: 17%;
    height: auto;
}

#logo-nav{
	font-size: 2vw;
}

.container{
	width:92%;
	max-width: 1200px;
}

.jumbotron{
	margin-top: 53px;
}

#cuerpo, .pag-noticia{
	position:relative;
	margin:auto;
}

.pag-noticia{
	margin-top: 75px;
}

.well {
	width: calc(100% - 336px);
}

#publicidad1{
	position: absolute;
	right:0;
	top:0;
	width:336px;
	height: auto;
	background-color:white;
}

#publicidad2{
	display:none;
}
}

/*MOBILE*/

@media screen and (max-width: 768px){

.navbar-brand img{
	position: absolute;
	left: 15px;
	top: 6px;
	width: auto;
	max-height: 40px;
}

#logo-nav{
	font-size: 5vw;
}

.jumbotron{
	margin-top: 49px;
}

.well p{
	margin-top: 5px;
}

p{
	font-size:15px;
}

div.pag-noticia{
	margin-top: 65px;
	margin-bottom: 10px;
}

#pie{
	margin-bottom: 105px;
}

#pie p{
	font-family: "Carrois Gothic SC";
	color:  red;
	font-size: 9px;
}

#publicidad2{
	position: fixed;
	height: 90px;
	width:100%;
	bottom:0;
	left:0;
	margin:0;
	z-index: 1;
	text-align: center;
	background: white url("../img/publi.png");
	background-size: 100% 100%;
}

#publicidad2 img{
	display:none;
}

#publicidad1{
	display:none;
}
}